.clearfix:before,
.container:before,
.row:before,
.clearfix:after,
.container:after,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 57.611111111111114em;
}
@media only screen and (max-width: 767px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
}
.is-a-col,
.col,
.col-m-1,
.col-m-2,
.col-m-3,
.col-m-4,
.col-m-5,
.col-m-6,
.col-m-7,
.col-m-8,
.col-m-9,
.col-m-10,
.col-m-11,
.col-m-12 {
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  padding-left: 1.5%;
  padding-right: 1.5%;
  min-height: 1px;
}
.col.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.col-1 {
  width: 8.3333%;
}
.offset-1 {
  margin-left: 8.3333%;
}
.col-2 {
  width: 16.6666%;
}
.offset-2 {
  margin-left: 16.6666%;
}
.col-3 {
  width: 24.999899999999997%;
}
.offset-3 {
  margin-left: 24.999899999999997%;
}
.col-4 {
  width: 33.3332%;
}
.offset-4 {
  margin-left: 33.3332%;
}
.col-5 {
  width: 41.6665%;
}
.offset-5 {
  margin-left: 41.6665%;
}
.col-6 {
  width: 49.99979999999999%;
}
.offset-6 {
  margin-left: 49.99979999999999%;
}
.col-7 {
  width: 58.333099999999995%;
}
.offset-7 {
  margin-left: 58.333099999999995%;
}
.col-8 {
  width: 66.6664%;
}
.offset-8 {
  margin-left: 66.6664%;
}
.col-9 {
  width: 74.99969999999999%;
}
.offset-9 {
  margin-left: 74.99969999999999%;
}
.col-10 {
  width: 83.333%;
}
.offset-10 {
  margin-left: 83.333%;
}
.col-11 {
  width: 91.66629999999999%;
}
.offset-11 {
  margin-left: 91.66629999999999%;
}
.col-12 {
  width: 99.99959999999999%;
}
.offset-12 {
  margin-left: 99.99959999999999%;
}
@media only screen and (max-width: 767px) {
  .col {
    float: none;
    padding-left: 2%;
    padding-right: 2%;
    width: 100% !important;
  }
  .col-m-1 {
    width: 8.3333% !important;
  }
  .offset-1 {
    margin-left: 0;
  }
  .col-m-2 {
    width: 16.6666% !important;
  }
  .offset-2 {
    margin-left: 0;
  }
  .col-m-3 {
    width: 24.999899999999997% !important;
  }
  .offset-3 {
    margin-left: 0;
  }
  .col-m-4 {
    width: 33.3332% !important;
  }
  .offset-4 {
    margin-left: 0;
  }
  .col-m-5 {
    width: 41.6665% !important;
  }
  .offset-5 {
    margin-left: 0;
  }
  .col-m-6 {
    width: 49.99979999999999% !important;
  }
  .offset-6 {
    margin-left: 0;
  }
  .col-m-7 {
    width: 58.333099999999995% !important;
  }
  .offset-7 {
    margin-left: 0;
  }
  .col-m-8 {
    width: 66.6664% !important;
  }
  .offset-8 {
    margin-left: 0;
  }
  .col-m-9 {
    width: 74.99969999999999% !important;
  }
  .offset-9 {
    margin-left: 0;
  }
  .col-m-10 {
    width: 83.333% !important;
  }
  .offset-10 {
    margin-left: 0;
  }
  .col-m-11 {
    width: 91.66629999999999% !important;
  }
  .offset-11 {
    margin-left: 0;
  }
  .col-m-12 {
    width: 99.99959999999999% !important;
  }
  .offset-12 {
    margin-left: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "skolar", Georgia, serif;
  font-size: 112.5%;
  line-height: 1.6;
  color: #222;
  background-color: #fafaf8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "faricy-new-web", Georgia, serif;
  font-weight: bold;
}
h1 {
  font-size: 4em;
  line-height: 1.2000000000000002;
}
h2 {
  font-size: 2.25em;
  line-height: 1.4222222222222223;
}
h3 {
  font-size: 2.081em;
  line-height: 1.5377222489187892;
}
h4 {
  font-size: 1.5em;
  line-height: 2.1333333333333333;
}
h5 {
  font-size: 1.387em;
  line-height: 1.1535688536409519;
}
h6 {
  font-size: 1em;
  line-height: 1.6;
}
body {
  border-top: solid 3px #f4524e;
  padding-top: 1em;
}
.full-width {
  width: 100%;
  height: auto;
}
.circular {
  border-radius: 50%;
}
.centered {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
blockquote {
  margin-left: 0;
  position: relative;
}
