@import "common/base"

body
  border-top: solid 3px color_main
  padding-top: 1em

.full-width
  width: 100%
  height: auto

.circular
  border-radius: 50%

.centered
  display: inline-block
  margin-left: auto
  margin-right: auto

blockquote
  margin-left: 0
  position: relative

// .wf-loading
//   h1,h2,h3,h5,h6,p,a
//     visibility: hidden

// .wf-active
//   h1,h2,h3,h5,h6,p,a
//     visibility: visible

// #hello
//   padding: 3em 0 0
//   font-size: 3em
//   line-height: 1.2em
//   letter-spacing: -1px

// h1
//   text-align: center
