@import "base"

body
  border-top: solid 3px color_main
  padding-top: 1em

.full-width
  width: 100%
  height: auto

.circular
  border-radius: 50%

.centered
  display: inline-block
  margin-left: auto
  margin-right: auto
