@require "nib"
@require "var"
@require "base"

html
  height: 30em
  min-height: 100%

body
  box-sizing: border-box
  margin: 0
  padding: 0
  position: relative
  min-height: 100%
  border-top: solid 1em color_main
  color: color_light
  background: black url('../img/cover.jpg') center center fixed no-repeat
  background-size: cover
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.85)

  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 640px), (min-resolution: 192dppx)
    background-image: url('../img/cover@2x.jpg')


/////////////////////////////////////////////////////// Common Layout Helpers
.cover
  width: 100%
  height: auto

.circular
  border-radius: 50%

.centered-content
  text-align: center

.centered-block
  margin-left: auto
  margin-right: auto

.amp
  font-style: italic
  font-family: "Baskerville", font_serif

// prevent FOUT
.wf-loading
  h1,h2,h3,h5,h6,p,a
    visibility: hidden

.wf-inactive
.wf-active
  h1,h2,h3,h5,h6,p,a
    visibility: visible



/////////////////////////////////////////////////////// MAIN
.tagline
  @extend .has-shadow
  setHeading(2.25)
  padding: 1em 0
  text-align: center
  font-weight: normal
  color: color_light
  overflow: hidden
  @media only screen and (min-width: 769px)
    setHeading(3.375)
  @media only screen and (min-width: 1024px)
    setHeading(3.512)
  @media only screen and (min-width: 1440px)
    setHeading(5.063)
  &:before
    @extend .wander
    content: ""
    display: block
    width: 100%
    height: 1px
    background: color_main

.main-header
  position: relative
  z-index: 100
  padding: 6em 0 1em

.main-content
  // keep main-content with a z-index to stay above the background screen
  position: relative
  z-index: 100
  padding-bottom: 2em

.nav
  padding: 1em 0

  .nav-items
    list-style: none
    text-align: center

  .nav-item
    display: inline-block

  .item-link
    border-bottom: none
    &:hover
      color: color_main
      border-bottom: solid 5px color_main
      margin-bottom: -5px

  &.current
    .item-link
      border-bottom: solid 5px color_main
      margin-bottom: -5px

    @media only screen and (min-width: 769px)
      margin: 0 1em
      letter-spacing: 0.05em

.main-footer
  position: absolute
  bottom: 0.25em
  left: 0
  right: 0
  z-index: 2


.section-bio
  @extend .has-shadow
  p
    @extend .has-shadow


.section-social
  .nav-social
  .nav-items
    display: inline


#sandbox-container
  position: relative
  z-index: 100

#experiments
  width: 100%
  height: 100%
  canvas
    display: block
    margin-left: auto
    margin-right: auto


////////////////////////////////////////////////////// THIRD PARTY

@require "modules/prism"
@require "modules/post"
