{{> header }}

<div class="main-content container">
  <div class="hentry">
    {{#title}}
    <h2 class="entry-title">{{{title}}}</h2>
    {{/title}}
    <p class="centered-content">Coming soon&hellip;</p>
  </div>
</div>

{{> footer }}
