// animation: <name> <duration> <timing_function> <delay> <iteration_count> <direction>

@keyframes wander
  0%
    transform: rotate(0) translate3d(0, 0, 0)
    opacity: 0.2
  50%
    transform: rotate(360deg) translate3d(100%, 100%, 50em)
    opacity: 0.5
  100%
    transform: rotate(-360deg) translate3d(-100%, -100%, -50em)
    opacity: 1


.wander
  animation: wander 30s ease-in-out 0.3s infinite alternate
  animation-fill-mode: both
