/* Modular Scale

----------------------
18px @ 1:1.6
640px @ 1:1.6
----------------------
Pixels  Ems Ems @ 16  % of 13
1,024.000 56.889  64  7,876.923
773.094 42.95 48.318  5,946.877
640.000 35.556  40  4,923.077
483.184 26.844  30.199  3,716.800
400.000 22.222  25  3,076.923
301.990 16.777  18.874  2,323.000
250.000 13.889  15.625  1,923.077
188.744 10.486  11.797  1,451.877
156.250 8.681 9.766 1,201.923
117.965 6.554 7.373 907.423
97.656  5.425 6.104 751.200
73.728  4.096 4.608 567.138
61.035  3.391 3.815 469.500
46.080  2.56  2.88  354.462
38.147  2.119 2.384 293.438
28.800  1.6 1.8 221.538
23.842  1.325 1.49  183.400
18.000  1 1.125 138.462
14.901  0.828 0.931 114.623
11.250  0.625 0.703 86.538
9.313 0.517 0.582 71.638
7.031 0.391 0.439 54.085
5.821 0.323 0.364 44.777
4.394 0.244 0.275 33.800
3.638 0.202 0.227 27.985
2.746 0.153 0.172 21.123
2.274 0.126 0.142 17.492
1.716 0.095 0.107 13.200
1.421 0.079 0.089 10.931
1.073 0.06  0.067 8.254

*/
color_main        = #f25e5c
color_main_cool   = #4bb4d9
color_light       = #fff
color_text        = #404041
color_dark        = #2a2a2a
color_bgr         = #f9f9f9
color_meta        = #ccd1d1
color_border      = #e7e9e9

// typography settings
base_font_size_px = 18
base_font_size    = (base_font_size_px/16*100)%
base_leading      = 1.6

tk_text           = "ff-tisa-web-pro"
tk_heading        = "faricy-new-web"

font_serif        = tk_text, Georgia, serif
font_sans         = tk_heading, Helvetica, Arial, sans-serif

font_text         = font_serif
font_heading      = font_sans
font_meta         = "Panic Sans", Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Lucida Console", "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace;


// grid settings
numCol            = 1..12
colGutter         = 4%
width_main        = (1366/base_font_size_px)em

/////////////////////////////////////////////////////// RESET!
@css {
  /* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}


/////////////////////////////////////////////////////// HELPERS FUNCTION

// this is a recursive function
// it calculates the leading for a targeted line-height
// if target_leading is less then one normal line for that fontSize
// it'll try to add an extra half line via base_leading
_calcLeading(target_leading, fontSize)
  result = target_leading/fontSize
  if result < 1
    result = _calcLeading(target_leading + (base_leading/3), fontSize)
  else
    return result

setHeading(fontSize)
  font-size: (fontSize)em
  line-height: _calcLeading(base_leading, fontSize)

calWidth(n)
  n * 8.3333%

/////////////////////////////////////////////////////// GRID


.clearfix
  &:before,
  &:after
    content: " "
    display: table

  &:after
    clear: both

.container
  position: relative
  margin: 0 auto
  max-width: width_main
  width: 90%
  @extend .clearfix

.row
  @extend .clearfix

.is-a-col
  float: left
  box-sizing: border-box
  position: relative
  padding-left: colGutter
  padding-right: colGutter
  min-height: 1px

.col
  @extend .is-a-col
  &.centered
    float: none
    margin-left: auto
    margin-right: auto


for num in numCol
  // make col
  .col-{num}
    width: calWidth(num)

  // make col offset
  .offset-{num}
    margin-left: calWidth(num)

/////////////////////////////////////////////////////// Responsive Grid
@media only screen and (max-width: 769px)
  // make normal column become full width
  .col
    float: none
    width: 100% !important

  // make mobile grid
  for num in numCol
    .col-m-{num}
      @extend .is-a-col
      width: calWidth(num) !important

    // make all offset column full column on mobile
    .offset-{num}
      margin-left: 0


/////////////////////////////////////////////////////// Common Layout Helpers
.has-ligature
  -moz-font-feature-settings: "liga=1, dlig=1"
  -ms-font-feature-settings: "liga", "dlig"
  -o-font-feature-settings: "liga", "dlig"
  -webkit-font-feature-settings: "liga", "dlig"
  font-feature-settings: "liga", "dlig"

.cover
  width: 100%
  height: auto

.circular
  border-radius: 50%

.centered-content
  text-align: center

.centered-block
  margin-left: auto
  margin-right: auto

.amp
  font-style: italic
  font-family: "Baskerville", font_serif

// prevent FOUT
.wf-loading
  h1,h2,h3,h5,h6,p,a
    visibility: hidden

.wf-inactive
.wf-active
  h1,h2,h3,h5,h6,p,a
    visibility: visible


/////////////////////////////////////////////////////// Base Typography

body
  margin: 0
  padding: 0
  font-family: font_text
  font-size: base_font_size
  line-height: base_leading
  color: color_text
  background-color: color_light
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased
  @media only screen and (max-device-width : 480px)
    text-rendering: optimizeSpeed
  @media only screen and (min-width: 769px)
    font-size: 112.5%
  @media only screen and (min-width: 1024px)
    font-size: 125%

h1,h2,h3,h4,h5,h6
  font-family: font_heading
  font-weight: bold
  margin: 0
  @extend .has-ligature
  &.centered
    text-align: center

h1
  setHeading(3.375)
h2
  setHeading(2.081)
h3
  setHeading(1.5)
h4
  setHeading(1.387)
h5
  setHeading(1)
h6
  setHeading(0.925)

a
  color: color_text
  text-decoration: none
  @extend .has-ligature

p, ul, ol
  a
    border-bottom: solid 2px color_main
    transition: border-color 0.2s ease-in
    &:hover
      border-bottom-color: color_main_cool
  em
    font-style: italic
  strong
    font-weight: bold

p
  text-rendering: optimizeLegibility
  @extend .has-ligature

.heading
strong
  font-weight: bold

blockquote
  margin-left: 0
  margin-right: 0
  position: relative
