<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  {{! for specific page }}
  {{#page-title}}
    <title>{{{ site-title }}} | {{{ page-title }}}</title>
    <meta property="og:title" content="{{{ site-title }}} {{{ page-title }}}" />
  {{/page-title}}

  {{! if not a page }}
  {{^page-title}}
    {{! then it could be a post }}
    {{#title}}
    <title>{{{ site-title }}} | {{{ title }}}</title>
    <meta property="og:title" content="{{{ site-title }}} {{{ title }}}" />
    {{/title}}

    {{! not a post?! must be home page }}
    {{^title}}
    <title>{{{ site-title }}}</title>
    <meta property="og:title" content="{{{ site-title }}}" />
    {{/title}}
  {{/page-title}}

  {{! if post has a cover, use it for open graph }}
  {{#cover}}
  <meta property="og:image" content="http://{{host}}{{cover}}" />
  {{/cover}}

  {{^cover}}
  <meta property="og:image" content="" />
  {{/cover}}


  {{! common open graph meta }}
  {{! <meta property="fb:admins" content="" /> }}
  <meta property="og:site_name" content="{{{site-title}}}" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="{{{site-description}}}">
  {{! need trailing slash to prevent facebook redirection loop }}
  <meta property="og:url" content="http://{{host}}{{permalink}}/" />


  <meta name="description" content="{{{site-description}}}">

  {{! VIEWPORT }}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  {{#stylesheet_bundle}}/css/main.css{{/stylesheet_bundle}}

  {{! script vendor }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

  {{! typekit? }}
  <script type="text/javascript" src="//use.typekit.net/tme8hga.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  {{! google analytics? }}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2383160-28', 'constantx.com');
    ga('send', 'pageview');

  </script>

</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <header class='main-header'>
    <div class="container">

      <nav role="main_nav" class="main-nav">
        <div class="container">
          <ul class="main-nav-items">
            {{#main-nav}}
            <li class='main-nav-item {{#current}}{{{href}}}{{/current}}'>
              <a id="{{{ id }}}" href="{{{ href }}}">
                <span role="title">{{{ label }}}</span>
              </a>
            </li>
            {{/main-nav}}
          </ul>
        </div>
      </nav>

      <h2>
        <a class='logo' href="/" title="{{ site-title }} by {{ creator }}">
          {{#page-title}}{{{ page-title }}}{{/page-title}}
          {{^page-title}}{{{ site-title }}}{{/page-title}}
        </a>
      </h2>

    </div>
  </header>


