<aside class="entry-meta">

  {{#author}}
    <div class="author-photo col col-3">
      <a href="//github.com/{{{github}}}">
        <img src="{{{avatar}}}" alt="" class='circular cover'>
      </a>
    </div>
    <span class="byline author vcard">Author: {{{name}}}&nbsp;&nbsp;|&nbsp;&nbsp;</span>
  {{/author}}

  <time class="published" datetime="{{#iso_date}}{{ published_date }}{{/iso_date}}" pubdate>{{#long_date}}{{published_date}}{{/long_date}}</time>

</aside>
