{{> header }}

<!--
<div id="about" class='main-content'>
  <div class="hentry container">
    <div class="entry-content offset-2 col col-8">
      {{{ bio }}}
    </div>
  </div>
</div>
-->

<div class="main-content">
  <div class="posts">
    {{#recent_posts}}
    {{> post }}
    {{/recent_posts}}
  </div>
</div>

{{> footer }}
