{{> header }}

<div class="main-content container">
  <div class="hentry">
    <h2 class="entry-title">{{title}}</h2>
    <div class="entry-content">
      {{{ bio }}}
    </div>
  </div>
</div>

{{> footer }}
