@import "nib"
@import "base"

html
  height: 100%
  min-height: 30em

body
  position: relative
  height: 100%
  border-top: solid 1em color_main
  background: black url('../img/cover.jpg') center bottom no-repeat
  background-size: cover
  overflow: hidden
  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 640px), (min-resolution: 192dpi)
    background: url('../img/cover@2x.jpg') center bottom no-repeat
    background-size: cover

/////////////////////////////////////////////////////// Helpers
.has-shadow
  text-shadow: .05em .05em 0.02em rgba(0,0,0,0.5)

/////////////////////////////////////////////////////// MAIN
.tagline
  display: block
  padding: 0.5em 0
  text-align: center
  font-weight: normal
  color: color_light
  @extend .has-shadow
  setHeading(2.56)
  @media only screen and (min-width: 769px)
    setHeading(4.096)
  @media only screen and (min-width: 1024px)
    setHeading(5.425)


.page-bio
  @extend .has-shadow
  text-align: center
  p
    color: color_light
    @extend .has-shadow

.main-header
  position: relative
  z-index: 1000
  padding: 7em 0 1em


.main-content
  &:before
    @extend .wander
    content: ""
    display: block
    width: 100%
    height: 1px
    background-color: color_dark


.main-nav
  padding: 1em 0

  .nav-items
    list-style: none
    text-align: center

  .nav-item
    display: inline-block
    text-transform: uppercase

  .item-link
    border-bottom: none
    &:hover
      color: color_main
      border-bottom: solid 5px color_main
      margin-bottom: -5px

  &.current
    .item-link
      border-bottom: solid 5px color_main
      margin-bottom: -5px

    @media only screen and (min-width: 769px)
      margin: 0 1em
      letter-spacing: 0.05em

  &.social
    padding-top: 2em
    .nav-item-link
      @extend .has-shadow
      color: color_light

.main-footer
  position: absolute
  bottom: 0.25em
  left: 0
  right: 0
  z-index: 2

#sanbox-container
  display: flex
  box-align: center
  justify-content: center
  align-items: center
  width: 100%
  height: 100%
  max-width: 400px

#sandbox
  display: block
  width: 100%
  height: 300px
