@import 'reset'
@import 'typography'
@import 'grid'
@import 'animate'

/////////////////////////////////////////////////////// Common Layout Helpers

.cover
  width: 100%
  height: auto

.circular
  border-radius: 50%

.centered-content
  text-align: center

.centered-block
  margin-left: auto
  margin-right: auto

.amp
  font-style: italic
  font-family: "Baskerville", font_serif

// prevent FOUT
.wf-loading
  h1,h2,h3,h5,h6,p,a
    visibility: hidden

.wf-inactive
.wf-active
  h1,h2,h3,h5,h6,p,a
    visibility: visible
