
  </section>
  {{!-- end .main-content section --}}

  <footer class="main-footer"></footer>

  {{!-- blog post only scripts --}}
  {{#isPost}}
  <script src="/js/vendor/prism.js"></script>
  {{/isPost}}

  {{!-- experiments-only --}}
  {{#isExperiment}}
  {{/isExperiment}}

  {{#scripts}}
  <script src="/js/{{{.}}}.js"></script>
  {{/scripts}}
</body>
</html>
