<div class="section">
  <p>Recently wrote about:
    {{#recentPosts}}
    <a href="{{ path }}" title="{{ title }}">{{ title }}</a>
    {{/recentPosts}},

    {{#recentExperiments}}
    <a href="{{ path }}" title="{{ title }}">{{ title }}</a>
    {{/recentExperiments}}
  </p>
</div>
