<div class='section-social'>
  Bits and pieces:
  <nav class="nav nav-social">
    <ul class="nav-items">
      {{#social}}
      <a href="{{href}}" class="nav-item-link" target="_blank" title="{{title}}">{{title}}</a>{{^last}},{{/last}}{{#last}}.{{/last}}
      {{/social}}
    </ul>
  </nav>
</div>
