<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  {{! for specific page }}
  {{#page-title}}
    <title>{{{ site-title }}}</title>
    <meta property="og:title" content="{{{ site-title }}}" />
  {{/page-title}}

  {{! if not a page }}
  {{^page-title}}
    {{! then it could be a post }}
    {{#title}}
    <title>{{{ site-title }}}</title>
    <meta property="og:title" content="{{{ site-title }}} {{{ title }}}" />
    {{/title}}

    {{! not a post?! must be home page }}
    {{^title}}
    <title>{{{ site-title }}}</title>
    <meta property="og:title" content="{{{ site-title }}}" />
    {{/title}}
  {{/page-title}}

  {{! if post has a cover, use it for open graph }}
  {{#cover}}
  <meta property="og:image" content="http://{{host}}{{cover}}" />
  {{/cover}}

  {{^cover}}
  <meta property="og:image" content="" />
  {{/cover}}


  {{! common open graph meta }}
  {{! <meta property="fb:admins" content="" /> }}
  <meta property="og:site_name" content="{{{site-title}}}" />
  <meta property="og:type" content="blog" />
  <meta property="og:description" content="{{{site-description}}}">
  {{! need trailing slash to prevent facebook redirection loop }}
  <meta property="og:url" content="http://{{host}}{{permalink}}/" />


  <meta name="description" content="{{{site-description}}}">

  {{! VIEWPORT }}
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, initial-scale=1">


  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">

  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152-precomposed.png">

  <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">

  <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120-precomposed.png">

  <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">

  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57x57-precomposed.png">

  {{! main stylesheet }}
  {{#stylesheet_bundle}}/css/main.css{{/stylesheet_bundle}}

  {{! script vendor }}
  {{! <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script> }}

  {{{ typekit_snippet }}}

  {{{ google_analytics_snippet }}}

</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  {{^sandbox}}
  <header class='main-header'>
    <div class="container">
      <h1 class="tagline">
        {{#tagline}}{{{ tagline }}}{{/tagline}}
      </h1>
    </div>
  </header>
  {{/sandbox}}
