<nav role="main-nav" class="main-nav social">
  <ul class="nav-items">
    {{#social}}
    <li class="nav-item">
      <a href="{{href}}" class="nav-item-link" target="_blank" title="{{title}}">
        {{title}}
      </a>&nbsp;/&nbsp;
    </li>
    {{/social}}
  </ul>
</nav>
