<div class='section-social'>
  You can find him on
  <nav class="nav nav-social">
    <ul class="nav-items">
      {{#social}}
      <li class="nav-item">
        <a href="{{href}}" class="nav-item-link" target="_blank" title="{{title}}">{{title}}</a>{{^last}},{{/last}}{{#last}}.{{/last}}
      </li>
      {{/social}}
    </ul>
  </nav>
</div>
