{{> header }}
<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="section-bio col col-8 centered">
        {{{bio}}}

        {{> social }}
      </div>

    </div>
  </div>

</section>
{{> footer }}
