{{> header }}

<section id="main" class="main-content row">
  <div class="page-bio col col-6 centered">
    {{{bio}}}
  </div>
</section>

<section class="row">
  <div class="col col-12">
    {{> social }}
  </div>
</section>

{{> footer }}
