{{> header }}

<div class="main-content">
  <div class="container">
    <div class="hentry">
      {{#title}}
      <h2 class="entry-title">{{{title}}}</h2>
      {{/title}}
      <br>
      <p class="centered-content">Coming soon&hellip;</p>
      <br>
    </div>
  </div>
</div>

{{> footer }}
